.mainCon {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto; 
}

.mainCon div {
  margin: 5%;
}

.header { 
    flex: 1;
    margin: auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 20pt;
}


@import "compass/css3";

.navigation {
  list-style: none;
  display: flex;
  margin: 0; 
  justify-content: space-evenly;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}


@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

/* Landing page */
.missionStatement {
    flex: 1;
    margin: auto;
    font-family: 'Playfair Display', serif;
    font-size: 15pt;
    text-indent: 50px;
}

/* Portfolio */
.work li{
  list-style: none;
  display: flex;
  margin: 0; 
  justify-content: space-evenly;    
  border: 1px grey solid;
  font-family: 'Playfair Display', serif;
}

/* Contact */
#main-container li{
  display: flex;
  list-style: none;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  width: 60%; 
  padding: 10px;
  font-size: 15pt;
}

.submit {
  margin: 0 auto;
  align-self: center;
}


.fa-code {
  transition: 0.3s;
}

.fa-code:hover {
  color: darkgrey;
}

.fa-github {
  transition: 0.3s;
}
.fa-github:hover {
  color: #30c452;
}

.fa-user {
  transition: 0.3s;
}
.fa-user:hover {
  color: darkgrey;
}

.fa-linkedin {
  transition: 0.3s;
}
.fa-linkedin:hover {
  color: #0077B5;
}


.fa-envelope {
  transition: 0.3s;
}
.fa-envelope:hover {
  color: #d74638;
}